* {
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.content {
  width: 1040px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* Header */
.header {
  background-color: #1f2937;
}
.header .content {
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}
ul.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 26px;
}
ul.menu a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

/* Hero */
.hero {
  background-color: #1f2937;
}
.hero .content {
  padding: 100px 0 120px;
}
.hero-text {
  color: #e5e7eb;
  font-size: 18px;
  flex-basis: 50%;
}
.hero-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}
.hero-text p {
  margin: 0 10px 10px 0;
}
.hero-image {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  background-color: #6d747d;
}
.hero button {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 8px 36px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
}

/* Standard content */
.standard {
  font-size: 18px;
}
.standard .content {
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
}
.standard h2 {
  padding: 0 0 50px;
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.card {
  text-align: center;
  width: 165px;
}
.card .box {
  box-sizing: border-box;
  border: solid #3882f6 4px;
  border-radius: 18px;
  height: 165px;
  width: 100%;
}
.card p {
  margin-top: 8px;
}

/* Quote */
.quote {
  background-color: #e5e7eb;
}
.quote .content {
  padding: 100px 0;
}
.quote blockquote {
  margin: 0 125px;
}
.quote blockquote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  padding: 0;
  margin-bottom: 0;
}
.quote blockquote footer {
  font-style: normal;
  font-weight: bold;
  text-align: right;
  font-size: 24px;
  padding-right: 40px;
}

/* Call to action */
.cta {
  color: #f9faf8;
}
.cta .content {
  padding: 80px 30px;
}
.cta-container {
  background-color: #3882f6;
  border-radius: 8px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}
.cta-text h2 {
  margin: 0;
  padding: 0;
}
.cta-text p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.cta button {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 8px 36px;
  font-size: 18px;
  font-weight: bold;
  border: solid #f9faf8 2px;
  border-radius: 12px;
}
